/*공통*/
h1,
h2,
h3,
h4,
h5,
h6.h7 {
  font-weight: 400;
}
body {
  overflow-x: hidden;
  font-size: 14px;
}

a:hover {
  color: #003300;
}
img {
  max-width: 100%;
  object-fit: contain;
  display: block;
}
.pd-con {
  padding: 0 80px;
}
#content {
  padding-top: 90px;
}

.header {
  &.on{
    top:0px;
  }
  box-shadow: 0px 0px 1px 1px #f4f4f4;
  height: 90px;
  position: fixed;
  left:0;
  top:-30px;
  width: 100%;
  padding: 0px 80px;
  z-index: 99;
  background:#fff;
  transition: all 0.2s;
  .logo{width: 110px;
    img{
      width: 100%
    }
  }
  .inner {
    .row1{
      > ul{
        display: flex;
        justify-content: right;
        padding:10px 0;
        li{margin-left: 30px;}
      }
    }
    .row2{display: flex;align-items:center;}
    .nav {
      margin-left:100px;
      display: flex;
      >li{margin-right: 50px;
        a{font-size: 18px;}
      }
      .subBanner{
        position: absolute;
        background:#fff;;
        left:0;
        width: 100%;
        top:90px;
        padding:30px 80px;
        display: flex;
        display: none;
        >ul{margin-right: 10%;
          li{margin-bottom: 10px;font-weight: 500;}
        }
      }
    }
  }
}

/*상품썸네일 공통*/
.thumbnail {
  overflow: hidden;
}
.thumbnail a {
  overflow: hidden;
  display: block;
  max-height: 555px;
}
.thumbnail img {
  width: 100%;
  transition: 0.3s all ease-in-out;
}
.thumbnail img:hover {
  transform: scale(1.02);
}

/*공통 로딩*/
.loadingWrap {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  h1 {
    width: 300px;
    height: 300px;
    border-top: 3px solid #a8c4e7;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    transform: translate(-50%, -50%);
    border-radius: 100%;
    animation: spin 2s infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*list */
.list .movieList {display: flex;flex-wrap: wrap;margin: 0 -8px;}
.list .movieList > li {
  width: 20%;
  padding: 0 8px;
  box-sizing: border-box;
  margin-bottom: 60px;
}
.list .movieList > li .thumbnail {
  overflow: hidden;
  position: relative;
}
.list .movieList > li .thumbnail a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s all;
}
.list .movieList > li .thumbnail a::before {
  content: "Detail";
  display: block;
  position: absolute;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all;
  z-index: 1;
  opacity: 0;
  text-align: center;
  font-weight: 500;
  border-radius: 5px;
  font-size: 16px;
}
.list .movieList > li .thumbnail a:hover::after {
  opacity: 1;
}
.list .movieList > li .thumbnail a:hover::before {
  opacity: 1;
}
.list .movieList > li .thumbnail a {
  max-height: 555px;
}
.list .movieList > li h2 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
}
.list .movieList > li ul {
  font-weight: 500;
}
.list .movieList > li ul li {
  cursor: pointer;
  font-weight: 400;
}
.list .movieList > li ul li:hover {
  font-weight: 500;
}

.detail{margin-top:30px;}
.detail h1{font-size: 20px;margin-bottom: 20px;}
.detail .inner{display:flex;}
.detail .inner .info{padding-left:30px;}
.detail .inner .info a{display: block;font-size:20px;font-weight: 500;margin-bottom: 30px;}
.detail .inner .info p{line-height: 30px;max-width: 400px;word-break: keep-all;}
.detail .thumbnail{min-width: 400px;}
.detail .thumbnail img{width: 100%;}

/*footer*/
#footer {
  margin-top: 120px;
  .inner {
    background: #000;
    color: #fff;
    padding: 80px;
    .right {
      display: flex;
      justify-content: space-between;
      li {
        margin-bottom: 10px;
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
        a {
          font-weight: 500;
          font-size: 15px;
        }
      }
    }
  }
}

